Implement a python program to demonstrate 
 1) Importing Datasets 2) Cleaning the Data 3) Data frame manipulation using Numpy

In [6]:
import pandas as pd
import numpy as np
data=pd.read_csv("student.csv")
print(data)

    name    id  marks
0  luffy  22.0   45.0
1   zoro  23.0   65.0
2    NaN   NaN    NaN
3  sanji  32.0   77.0
4   nami  43.0   88.0

In [39]:
clean=data.dropna()
print(clean)

    name    id  marks
0  luffy  22.0   45.0
1   zoro  23.0   65.0
3  sanji  32.0   77.0
4   nami  43.0   88.0

In [40]:
name=input("Enter name")
fillrow = {'name': name, 'id': 123, 'marks': 85}
alldata=data.fillna(fillrow)
print(alldata)

Enter namerobin
    name     id  marks
0  luffy   22.0   45.0
1   zoro   23.0   65.0
2  robin  123.0   85.0
3  sanji   32.0   77.0
4   nami   43.0   88.0

In [41]:
df=pd.DataFrame(alldata)
print(df)

    name     id  marks
0  luffy   22.0   45.0
1   zoro   23.0   65.0
2  robin  123.0   85.0
3  sanji   32.0   77.0
4   nami   43.0   88.0

In [42]:
#useless
print(df['marks'].max())
print(df['marks'].min())

88.0
45.0

In [46]:
#using numpy converting it into multi dimensional array
nmpdata=np.array([[df['name'],df['id'],df['marks']]])
print(nmpdata)

[[['luffy' 'zoro' 'robin' 'sanji' 'nami']
  [22.0 23.0 123.0 32.0 43.0]
  [45.0 65.0 85.0 77.0 88.0]]]

In [47]:
# Transpose of a array
print(nmpdata.T)

[[['luffy']
  [22.0]
  [45.0]]

 [['zoro']
  [23.0]
  [65.0]]

 [['robin']
  [123.0]
  [85.0]]

 [['sanji']
  [32.0]
  [77.0]]

 [['nami']
  [43.0]
  [88.0]]]

In [53]:
# nmpdata is a NumPy array containing 'marks' column
marks_column = nmpdata[:, 2]  #'marks' column is at index 2

# Find the maximum marks
max_marks = np.nanmax(marks_column)

print("Maximum Marks:", max_marks)

Maximum Marks: 88.0

In [56]:
print(nmpdata.itemsize)

8

In [58]:
# nmpdata is a NumPy array containing 'marks' column
marks_column = nmpdata[:, 2]  #  'marks' column is at index 2

# Add 5 to all marks
marks_column += 5

# Print the updated marks column
print("Updated Marks:", marks_column)

Updated Marks: [[50.0 70.0 90.0 82.0 93.0]]