In [9]:
import sqlite3

# Connect to an SQLite database
conn = sqlite3.connect('example.db')

In [10]:
# Create a table
conn.execute('''CREATE TABLE IF NOT EXISTS students (
                 id INTEGER PRIMARY KEY,
                 name TEXT,
                 age INTEGER)''')

In [11]:
# Insert a record into the table
conn.execute("INSERT INTO students (name, age) VALUES ('Alice', 25)")
conn.execute("INSERT INTO students (name, age) VALUES ('jack', 54)")
conn.execute("INSERT INTO students (name, age) VALUES ('frosty', 140)")

In [12]:
# Execute a SQL query to fetch data
cursor = conn.execute("SELECT * FROM students")

In [13]:
# Fetch all rows returned by the SELECT query
rows = cursor.fetchall()

In [14]:
print(rows)

[(1, 'Alice', 25), (2, 'jack', 54), (3, 'frosty', 140)]

In [15]:
conn.close()